@import 'color';
@import 'mixin';

body {
  font-family: 'Noto Serif JP', serif;
}

header {
  .header-nav {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: end;
    top: 0;
    z-index: 1000;
  }

  ul {
    height: 96px;
    display: flex;
    align-items: center;
    padding: 0 45px;

    li {
      margin-left: 27px;
      font-size: 17px;
    }
  }
}

footer {
  position: absolute;
  width: 100vw;
  text-align: center;
}